
<footer class="bg-light text-center text-lg-start" style="background: rgb(187, 57, 57);">
    <hr>
      
    <div class="container">
    <!-- Copyright -->
    <div class="text-left p-3" >
     
      <a class="text-dark" [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Home</a>
      <a class="text-dark" [routerLink]="'/contato'" routerLinkActive="active"> Contatos</a>
      <a class="text-dark" [routerLink]="'/sobre-nos'" routerLinkActive="active"> Sobre Nós</a>
      <a class="text-dark" [routerLink]="'/politica'" routerLinkActive="active"> Política de Privacidadee Termos </a>
      <a class="text-dark" [routerLink]="'/ajuda'" routerLinkActive="active"> Ajuda </a>
        
       <!-- Facebook --> 
     <a class="btn btn-outline-secondary btn-floating m-1" href="#!" role="button "><i class="fa fa-facebook-f"></i></a> 
     
     <!-- Instagram -->
     <a class="btn btn-outline-secondary btn-floating m-1 footer" href="#!" role="button"><i class="fa fa-instagram"></i></a>

     <!-- Linkedin -->
     <a class="btn btn-outline-secondary btn-floating m-1" href="#!" role="button"><i class="fa fa-linkedin"></i></a>
    </div>

    <!-- Copyright -->

    </div>
  </footer>