<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <section class="container">

    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/logo-tojob.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/meu-painel'" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Meu Painel</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/vagas'" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Vagas</a>
        </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/curriculos'" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Currículos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/para-canditados'" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Para Canditados</a>
          </li> 
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/para-recrutadores'" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Para Recrutadores</a>
            </li>
          
      </ul>
    </div>
  </section>


</nav>
