<div class="container">
    <div class="row h-100 justify-content-center align-items-center divpesquisar">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" style="min-width:500px;" placeholder="Pesquise a vaga que você deseja" aria-label="Pesquisar">
            <button class="btn pesquisar" type="submit"><i class="fa fa-search"></i></button>
          </form>
    </div>

    <div class="row h-100 justify-content-center align-items-center divtextopesquisa">
        <a href="#">Pesquisa Avançada</a>
    </div>
</div>
<section class="section">

        <div class="text-center vagaemp"> 
            <h3> Vagas de Emprego</h3>
        </div>
   
    
    <div class="container cont">
    <div class=" row h-100 justify-content-center align-items-center ro">

        <div class="card" style="width: 45rem;">
            <div class="card-body">
              <h5 class="card-title">Vendedor (A) - TJ.130</h5>
              <p>UsaFlex -  <small class="text-muted">CONTAGEM-MG</small></p>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam expedita dicta voluptatem laborum facere aliquam omnis sunt, nemo earum consequuntur. Provident placeat sint modi dicta natus facere quibusdam. Id, consectetur?.</p>
              <a href="#" class="btn btn-outline-secondary p-1 enviar"><i class="fa fa-envelope"></i>Enviar Vaga</a>
              <a href="#" class="btn btn-primary p-1"><i class="fa fa-check"></i>Candidatar</a>
            </div>
        </div>
        <div class="card" style="width: 45rem;">
            <div class="card-body">
              <h5 class="card-title">Vendedor (A) - TJ.131</h5>
              <p>UsaFlex -  <small class="text-muted">CONTAGEM-MG</small></p>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam expedita dicta voluptatem laborum facere aliquam omnis sunt, nemo earum consequuntur. Provident placeat sint modi dicta natus facere quibusdam. Id, consectetur?.</p>
              <a href="#" class="btn btn-outline-secondary p-1 enviar"><i class="fa fa-envelope"></i>Enviar Vaga</a>
              <a href="#" class="btn btn-primary p-1"><i class="fa fa-check"></i>Candidatar</a>
            </div>
        </div>
        <div class="card" style="width: 45rem;">
            <div class="card-body">
              <h5 class="card-title">Vendedor (A) - TJ.132</h5>
              <p>UsaFlex -  <small class="text-muted">CONTAGEM-MG</small></p>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam expedita dicta voluptatem laborum facere aliquam omnis sunt, nemo earum consequuntur. Provident placeat sint modi dicta natus facere quibusdam. Id, consectetur?.</p>
              <a href="#" class="btn btn-outline-secondary p-1 enviar"><i class="fa fa-envelope"></i>Enviar Vaga</a>
              <a href="#" class="btn btn-primary p-1"><i class="fa fa-check"></i>Candidatar</a>
            </div>
        </div>
        <div class="card" style="width: 45rem;">
            <div class="card-body">
              <h5 class="card-title">Vendedor (A) - TJ.133</h5>
              <p>UsaFlex -  <small class="text-muted">CONTAGEM-MG</small></p>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam expedita dicta voluptatem laborum facere aliquam omnis sunt, nemo earum consequuntur. Provident placeat sint modi dicta natus facere quibusdam. Id, consectetur?.</p>
              <a href="#" class="btn btn-outline-secondary p-1 enviar"><i class="fa fa-envelope"></i>Enviar Vaga</a>
              <a href="#" class="btn btn-primary p-1"><i class="fa fa-check"></i>Candidatar</a>
            </div>
        </div>
        <div class="card" style="width: 45rem;">
            <div class="card-body">
              <h5 class="card-title">Vendedor (A) - TJ.134</h5>
              <p>UsaFlex -  <small class="text-muted">CONTAGEM-MG</small></p>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam expedita dicta voluptatem laborum facere aliquam omnis sunt, nemo earum consequuntur. Provident placeat sint modi dicta natus facere quibusdam. Id, consectetur?.</p>
              <a href="#" class="btn btn-outline-secondary p-1 enviar"><i class="fa fa-envelope"></i>Enviar Vaga</a>
              <a href="#" class="btn btn-primary p-1"><i class="fa fa-check"></i>Candidatar</a>
            </div>
        </div>
        <div class="card" style="width: 45rem;">
            <div class="card-body">
              <h5 class="card-title">Vendedor (A) - TJ.135</h5>
              <p>UsaFlex -  <small class="text-muted">CONTAGEM-MG</small></p>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam expedita dicta voluptatem laborum facere aliquam omnis sunt, nemo earum consequuntur. Provident placeat sint modi dicta natus facere quibusdam. Id, consectetur?.</p>
              <a href="#" class="btn btn-outline-secondary p-1 enviar"><i class="fa fa-envelope"></i>Enviar Vaga</a>
              <a href="#" class="btn btn-primary p-1"><i class="fa fa-check"></i>Candidatar</a>
            </div>
        </div>
        <div class="card" style="width: 45rem;">
            <div class="card-body">
              <h5 class="card-title">Vendedor (A) - TJ.136</h5>
              <p>UsaFlex -  <small class="text-muted">CONTAGEM-MG</small></p>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam expedita dicta voluptatem laborum facere aliquam omnis sunt, nemo earum consequuntur. Provident placeat sint modi dicta natus facere quibusdam. Id, consectetur?.</p>
              <a href="#" class="btn btn-outline-secondary p-1 enviar"><i class="fa fa-envelope"></i>Enviar Vaga</a>
              <a href="#" class="btn btn-primary p-1"><i class="fa fa-check"></i>Candidatar</a>
            </div>
        </div>
        <div class="card" style="width: 45rem;">
            <div class="card-body">
              <h5 class="card-title">Vendedor (A) - TJ.137</h5>
              <p>UsaFlex -  <small class="text-muted">CONTAGEM-MG</small></p>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam expedita dicta voluptatem laborum facere aliquam omnis sunt, nemo earum consequuntur. Provident placeat sint modi dicta natus facere quibusdam. Id, consectetur?.</p>
              <a href="#" class="btn btn-outline-secondary p-1 enviar"><i class="fa fa-envelope"></i>Enviar Vaga</a>
              <a href="#" class="btn btn-primary p-1"><i class="fa fa-check"></i>Candidatar</a>
            </div>
        </div>
        
    </div>
    <div>
        <button type="button" class="btn btn-outline-secondary btnpesq">1</button>
        <button type="button" class="btn btn-outline-secondary btnpesq">2</button>
        <button type="button" class="btn btn-outline-secondary btnpesq">3</button>
        <button type="button" class="btn btn-outline-secondary btnpesq"><i class="fa fa-angle-right"></i></button>
        <button type="button" class="btn btn-outline-secondary btnpesq"><i class="fa fa-angle-double-right"></i></button> 
     </div>
</div>


  
</section>