<section class="container"> 
    <div class="row">
    
        <div class="col-sm-3 py-4">
            <app-menu-painel></app-menu-painel>
          </div>
    

        <div class="col-sm-9 border-left p-4">
            <h3> Candidaturas </h3>
            <hr>
        

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                   
                            <div class="alert alert-danger" role="alert">
                                <h5>Candidaturas não encontradas </h5>
                                Você não se candidatiu a nenhuma vaga.<a href="#" class="alert-link"> Buscar vagas</a> 
                            </div>
                   
                        </div>
                    </div>
                </div>
        </div> 

    </div>
    
    </section>
