<div class="myBackground "> 
  
  <div>
    <p>.</p>
  </div>
  <div>
    <p>.</p>
  </div>
  
  <div class="container ">
    <div class="row  ">
      <div class="col centered">
        <img class="logo " src="./assets/images/logo-02-w.png" alt="Logo da Empresa Tojob">
      </div>
    </div>

  <div class="container ">
    <div class="row">
      <div class="col">

        <div class="container">
          <div class="row">
            <div class="card border-light centered">
              <div class="card-body">
                <H4 class="text-center">Buscar por Vaga</H4>
        <div class="form-group input-group">
          	
          	<input name="consulta" id="txt_consulta" style="min-width:600px;" placeholder="Pesquisar por nome da vaga" type="text" class="form-control">
            <button type="submit" class="button"> <i class="fa fa-search"></i></button>

        </div >
        <div class="text-center">
              <a class="text-center" href="#">Pesquisa avançada</a>
              </div>
      </div>
          </div>

        </div>
      </div>

      </div>
    </div>
  </div>


  </div>
</div>