<div class="myBackground "> 
  
  
  <div class="container">
  
    

  <div class="row">
    <div class="col">

      <img class="img-thumbnail" src="./assets/images/logo-02-w.png" alt="Foto Perfil">

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-group input-group">
          	
          	<input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <div class="box">
              <input type="text" name="search" placeholder="Pesquisar..." />
              <button type="submit" class="button">Pesquisar</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>


  </div>
</div>