.myBackground {
    background-image: url(https://www.tojob.com.br/assets/theme/images/home-bgblur.jpg);
    color: rgb(14, 13, 13);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}  



.centered {
    margin: 0 auto !important;
    float: none !important;
}
