<div class="myBackground "> 
  
  <div>
    <p>.</p>
  </div>
  <div>
    <p>.</p>
  </div>
  
  <div>
    <p>.</p>
  </div>
  <div>
    <p>.</p>
  </div>
  <div>
    <p>.</p>
  </div>
  <div>
    <p>.</p>
  </div>
   

  <div class="container ">
    <div class="row  ">
      <div class="col-0 centered">
        <img class="logo " src="./assets/images/logo-02-w.png" alt="Logo da Empresa Tojob">
      </div>
    </div>

  <div class="container ">
    <div class="row">
      <div class="col-12">

        <div class="container">
          <div class="row">
            <div class="card border-light centered">
              <div class="card-body">
                <H4 class="text-center">Buscar por Vaga</H4>
        <div class="form-group input-group">
          	
          	<input name="consulta" id="txt_consulta" style="min-width:600px;" placeholder="Pesquisar por nome da vaga" type="text" class="form-control">
            <button type="submit" class="button"> <i class="fa fa-search"></i></button>

        </div >
        <div class="text-center">
              <a class="text-center" href="#">Pesquisa avançada</a>
              </div>
          </div>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="centered"> <h4>ToJob: Conectando Oportunidades.</h4> </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          
          <button type="button" class="btn btn-secondary rounded-circle fa fa-briefcase"></button>
          
          <div class="card-body">
            <h6 class="card-title">Publique sua Vaga</h6>
               <a href="#" class="">Como Publicar?</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <button type="button" class="btn btn-secondary rounded-circle fa fa-briefcase"></button>
          <div class="card-body">
            <h6 class="card-title">Publique seu curriculo</h6>
            <a href="#" class="">Como Publicar?</a>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>