.myBackground {
    background-image: url(https://www.tojob.com.br/assets/theme/images/home-bgblur.jpg);
    color: rgb(14, 13, 13);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}  

.img{
    display: inline;
    text-align: center;


}
