<section class="container">
    <div class="row">
        <div class="col-sm-3 py-4">
            <app-menu-painel></app-menu-painel>
        </div>
   
            <div class="col-sm-9 border-left p-4">
                <h3> Assinaturas </h3>
                <hr>
            

            <div class="container">
                <div class="row">
                    <div class="col-12">
                       
                        <div class="alert alert-danger" role="alert">
                            <h5>Você não possue nenhuma assinatura ativa. </h5>
                            Não temos nenhum histórico de compras ou assinatura.<a href="#" class="alert-link"> Acesse a nossa loja</a> para adquirir nosso produtos.
                          </div>

                       <hr>
                    </div>

                   <div class="container">
                       <div class="row">
                           <div class="col">
                    <h4> Extrato de Pagamento</h4>
                    <hr>
                </div>
            </div>

                    <div class="alert alert-info" role="alert">
                        <h5> Você não possui nenhuma compra feita</h5> 
                        <a href="#" class="alert-link">Faça uma compra</a>
                  </div>


                        </div>
                   
                </div>
            </div>
            
        </div> 
        </div>

    
    </section>