<section class="container">



  <div class="row">

    <div class="col-sm-3 py-4">
      <app-menu-painel></app-menu-painel>
    </div>

    <div class="col-sm-9 border-left p-4">
      <h3>Dados Pessoais</h3>
      <hr>
     
      <div class="row">
        <div class=" col-sm-4 ">
          <div class="card border-light">
            <div class="card-body">
              <h5 class="card-title">Dados Principais </h5>
              <p class="card-text">Mantenha os dados atualizados e garanta que as empresas te encontrem.</p>
              <a href="#" >Ajuda para alterar os dados?</a>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="card border-light">
            <div class="card-body ">

              <div class="row">
                <div class="col-sm-8">
                  <div class="card border-light">
                    
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Nome Completo</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Digite o nome completo">
                    </div>

                    
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card border-light">
                    
                    <div class="form-group">
                      <label for="exampleFormControlInput1">CPF</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="000.000.000-00">
                    </div>
                                       
                  </div>
                 
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="card border-light">
                      
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Data de Nascimento</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="00/00/0000">
                      </div>
                      
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card border-light">
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Sexo</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Masculino</option>
                          <option>Feminino</option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <div class="card border-light">
                          <div class="form-group">
                            <label for="exampleFormControlInput1">Celular</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="(00) 0 0000-0000">
                            <button type="button" class="btn btn-secondary">Alterar Dados</button>
                          </div>
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  <hr>

  <div class="row">
    <div class="col-sm-6">
      <div class="card border-light">
        <div class="card-body">
          <h5 class="card-title">Título especial</h5>
          <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          <a href="#" class="btn btn-primary">Visitar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-light">
        <div class="card-body">
          <h5 class="card-title">Título especial</h5>
          <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          <a href="#" class="btn btn-primary">Visitar</a>
        </div>
      </div>
    </div>
  </div>

  </div>
  </div>

</section>



      