<section class="container">
  <div class="row">
    <div class="col-sm-3 py-4">
      <app-menu-painel></app-menu-painel>
    </div>
      <div class="col-sm-9 border-left p-4">
        <h3>Dados Pessoais</h3>
      <hr>
     
      <div class="container">
        <div class="row">
            <div class="col-4">
              <h5> Dados Principais </h5>
               <p> Mantenha seus dados atualizados e garanta que as empresas te encontrem.</p>
                <a href="#" class="card-link">Ajuda para alterar os dados?</a>
            </div>
      
            <div class="col">
                <div class="form-group col-6">
                  <label for="exampleFormControlInput1">Nome Completo</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu nome completo">
                </div>
                    <div class="form-group col-5">
                      <label for="exampleFormControlInput1">CPF</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="000.000.000-00">
                    </div>
              <div class="row">
                <div class="col">
                      <div class="form-group col-5">
                        <label for="exampleFormControlInput1">Data de nascimento</label>
                          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="00/00/0000">
                      </div>
                  </div>
              </div>
              <hr>
                <div class="row">
                  <label for="exampleFormControlSelect1">Sexo</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Masculino</option>
                      <option>Feminino</option>
                    </select>
                </div>
            </div>
          </div>
      </div>
    <hr>
    </div>
  </div>

</section>



      