<section class="container">


  <div class="row">

    <div class="col-sm-3 py-4">
      <app-menu-painel></app-menu-painel>
    </div>

    <div class="col-sm-9 border-left p-4">
      <h3>Dados Pessioais</h3>
      <hr>

      <div class="row">

            <div class="card" style="width: 52rem;">
            <div class="card-body">
              <h5 class="card-title">Dados Principais</h5>
              <h6 class="card-subtitle mb-2 text-muted"> </h6>
              <p class="card-text"> Mantenha seus dados atualizados e garanta que as empresas te encontrem.</p>
              <a href="#" class="card-link">Ajuda para alterar os dados? </a>
              <br>
              <label for="exampleFormControlInput1">Nome Completo</label>
              <input class="form-control form-control-sm" type="text" placeholder="Digite seu nome completo">
              <label for="exampleFormControlInput1">CPF</label>
              <input class="form-control form-control-sm" type="text" placeholder="000.000.000-00">



              <form class="navbar-form">
                <div class="form-group">
                    <input class="form-control" type="text" name="search" placeholder="Pesquisar"/>
                </div>
                <div class=text-right>
                    <input type="submit" value="Salvar Dados" class="btn btn-default" />
                </div>
            </form>

            </div>
          </div>
        


      </div>
      </div>
     </div>
</section> 


