<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="text-center"> Contato</h4>
            <p>/31 3327-3414</p>
            <p>/31 9 9427-9475</p>
            <a href="#"> / conto@tojob.com.br </a>
        </div>
    </div>
    <hr>
    <div class="container">
        <h5> Formulário</h5>
    <div class="row">
      
        <div class="col">
            <input class="form-control form-control-sm" type="text" placeholder="Nome">

        </div>
        
        <div class="col">
            <input class="form-control form-control-sm" type="email" placeholder="E-mail">
            
        </div>
    </div>
    <div class="row">
      
        <div class="col">
            <input class="form-control form-control-sm" type="text" placeholder="Telefone">

        </div>
        
        <div class="col">
            <input class="form-control form-control-sm" type="email" placeholder="Assunto">
            
        </div>
    </div>
    <div class="row">
        <div class="col">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensagem "></textarea>
    </div>
    </div>
    <button type="button" class="btn btn-secondary">Enviar Dados</button>
</div>
</div>


