<div class="container">
    <div class="row h-100 justify-content-center align-items-center divpesquisar">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" style="min-width:500px;" placeholder="Pesquise o canditado, nome, cargo ..." aria-label="Pesquisar">
            <button class="btn pesquisar" type="submit"><i class="fa fa-search"></i></button>
          </form>
    </div>

    <div class="row h-100 justify-content-center align-items-center divtextopesquisa">
        <a href="#">Pesquisa Avançada</a>
    </div>
</div>
<section class="section">

        <div class="text-center vagaemp"> 
            <h3>Lista de Candidatos</h3>
        </div>
   
    
    <div class="container cont">
    <div class=" row h-100 justify-content-center align-items-center ro">

        <div class="card" style="width: 45rem;">
            <div class="row">
                <div class="col-2 fotovaga"> 
                    <img class="img-thumbnail" src="./assets/images/lucasperfil.png" alt="Foto Perfil">

                </div>
                <div class="col">
            <div class="card-body">
              <h5 class="card-title">Lucas Norberto e Silva</h5>
              <p class="card-text"> Desenvolvedor Full Stack - Belo HOrizonte, MG - 33 Anos - há 16 dias</p>  
              <small class="text-muted">Estevão atua na área de TI há 10 anos com especialização no desenvolvimento de sistemas</small>
              
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-envelope"></i>Enviar Mensagem</a>
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-paper-plane"></i>Encaminhar Currículo</a>
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-cloud-download-alt"></i>Baixar Curriculo</a>
              
            </div>
        </div>
        </div>      
        </div>
        <div class="card" style="width: 45rem;">
            <div class="row">
                <div class="col-2 fotovaga"> 
                    <img class="img-thumbnail" src="./assets/images/lucasperfil.png" alt="Foto Perfil">

                </div>
                <div class="col">
            <div class="card-body">
              <h5 class="card-title">Lucas Norberto e Silva</h5>
              <p class="card-text"> Desenvolvedor Full Stack - Belo HOrizonte, MG - 33 Anos - há 16 dias</p>  
              <small class="text-muted">Estevão atua na área de TI há 10 anos com especialização no desenvolvimento de sistemas</small>
              
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-envelope"></i>Enviar Mensagem</a>
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-paper-plane"></i>Encaminhar Currículo</a>
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-cloud-download-alt"></i>Baixar Curriculo</a>
              
            </div>
        </div>
        </div>      
        </div>
        <div class="card" style="width: 45rem;">
            <div class="row">
                <div class="col-2 fotovaga"> 
                    <img class="img-thumbnail" src="./assets/images/lucasperfil.png" alt="Foto Perfil">

                </div>
                <div class="col">
            <div class="card-body">
              <h5 class="card-title">Lucas Norberto e Silva</h5>
              <p class="card-text"> Desenvolvedor Full Stack - Belo HOrizonte, MG - 33 Anos - há 16 dias</p>  
              <small class="text-muted">Estevão atua na área de TI há 10 anos com especialização no desenvolvimento de sistemas</small>
              
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-envelope"></i>Enviar Mensagem</a>
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-paper-plane"></i>Encaminhar Currículo</a>
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-cloud-download-alt"></i>Baixar Curriculo</a>
              
            </div>
        </div>
        </div>      
        </div>
        <div class="card" style="width: 45rem;">
            <div class="row">
                <div class="col-2 fotovaga"> 
                    <img class="img-thumbnail" src="./assets/images/lucasperfil.png" alt="Foto Perfil">

                </div>
                <div class="col">
            <div class="card-body">
              <h5 class="card-title">Lucas Norberto e Silva</h5>
              <p class="card-text"> Desenvolvedor Full Stack - Belo HOrizonte, MG - 33 Anos - há 16 dias</p>  
              <small class="text-muted">Estevão atua na área de TI há 10 anos com especialização no desenvolvimento de sistemas</small>
              
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-envelope"></i>Enviar Mensagem</a>
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-paper-plane"></i>Encaminhar Currículo</a>
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-cloud-download-alt"></i>Baixar Curriculo</a>
              
            </div>
        </div>
        </div>      
        </div>
        <div class="card" style="width: 45rem;">
            <div class="row">
                <div class="col-2 fotovaga"> 
                    <img class="img-thumbnail" src="./assets/images/lucasperfil.png" alt="Foto Perfil">

                </div>
                <div class="col">
            <div class="card-body">
              <h5 class="card-title">Lucas Norberto e Silva</h5>
              <p class="card-text"> Desenvolvedor Full Stack - Belo HOrizonte, MG - 33 Anos - há 16 dias</p>  
              <small class="text-muted">Estevão atua na área de TI há 10 anos com especialização no desenvolvimento de sistemas</small>
              
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-envelope"></i>Enviar Mensagem</a>
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-paper-plane"></i>Encaminhar Currículo</a>
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-cloud-download-alt"></i>Baixar Curriculo</a>
              
            </div>
        </div>
        </div>      
        </div>
        <div class="card" style="width: 45rem;">
            <div class="row">
                <div class="col-2 fotovaga"> 
                    <img class="img-thumbnail" src="./assets/images/lucasperfil.png" alt="Foto Perfil">

                </div>
                <div class="col">
            <div class="card-body">
              <h5 class="card-title">Lucas Norberto e Silva</h5>
              <p class="card-text"> Desenvolvedor Full Stack - Belo HOrizonte, MG - 33 Anos - há 16 dias</p>  
              <small class="text-muted">Estevão atua na área de TI há 10 anos com especialização no desenvolvimento de sistemas</small>
              
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-envelope"></i>Enviar Mensagem</a>
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-paper-plane"></i>Encaminhar Currículo</a>
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-cloud-download-alt"></i>Baixar Curriculo</a>
              
            </div>
        </div>
        </div>      
        </div>
        <div class="card" style="width: 45rem;">
            <div class="row">
                <div class="col-2 fotovaga"> 
                    <img class="img-thumbnail" src="./assets/images/lucasperfil.png" alt="Foto Perfil">

                </div>
                <div class="col">
            <div class="card-body">
              <h5 class="card-title">Lucas Norberto e Silva</h5>
              <p class="card-text"> Desenvolvedor Full Stack - Belo HOrizonte, MG - 33 Anos - há 16 dias</p>  
              <small class="text-muted">Estevão atua na área de TI há 10 anos com especialização no desenvolvimento de sistemas</small>
              
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-envelope"></i>Enviar Mensagem</a>
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-paper-plane"></i>Encaminhar Currículo</a>
              <a href="#" class="btn btn-outline-secondary p-0 enviar"><i class="fa fa-cloud-download-alt"></i>Baixar Curriculo</a>
              
            </div>
        </div>
        </div>      
        </div>
       
    </div>
    <div>
        <button type="button" class="btn btn-outline-secondary btnpesq">1</button>
        <button type="button" class="btn btn-outline-secondary btnpesq">2</button>
        <button type="button" class="btn btn-outline-secondary btnpesq">3</button>
        <button type="button" class="btn btn-outline-secondary btnpesq"><i class="fa fa-angle-right"></i></button>
        <button type="button" class="btn btn-outline-secondary btnpesq"><i class="fa fa-angle-double-right"></i></button> 
     </div>
</div>


  
</section>