<section class="container"> 
    <div class="row">
    
        <div class="col-sm-3 py-4">
            <app-menu-painel></app-menu-painel>
          </div>

            <div class="col-sm-9 border-left p-4">
                <h3> Mensagens</h3>
                <hr>

                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <h5> Alterar Senha</h5>
                                <p> Lembre de usar senha forte. Você será desconectado de todos os outros dispositivos</p>

                        </div>

                        <div class="col-8">

                            
                        </div>
                        
                    </div>
                    <hr>
                    


                </div>





                </div>
    
    </div>
    
    </section>